@media (max-width: 900px)
    body .categories__list
        grid-template-columns: repeat(2, minmax(0,1fr))
    .categories__item-img
        width: 80px !important
        img
            min-width: 80px !important
        

@media (max-width: 650px)
    .burger
        display: flex !important
    .nav-bar__inner--open
        right: 0% !important


    .nav-bar__inner
        transition: all 1s
        padding-top: 70px !important
        flex-direction: column
        justify-content: flex-start !important
        align-items: center
        position: fixed 
        right: -100%
        width: 50%
        min-width: 260px
        height: 100%
        z-index: 3
        .nav-bar__logo
            margin: 0
            margin-bottom: 30px


    .nav-bar__navigation-items
        flex-direction: column
        li 
            width: fit-content
        .nav-bar__navigation-item
            margin: 0
            margin-bottom: 15px
    body .nav-bar__navigation-items .nav-bar__submenu
        position: inherit !important
        height: 0 
        padding: 0
        width: 0
    body .nav-bar__navigation-items .nav-bar__submenu--visible
        margin-top: 10px
        margin-bottom: 10px
        height: fit-content
        padding: 15px
        padding-top: 20px
        width: 100%
    body .nav-bar__navigation-items .nav-bar__navigation-item--has-submenu::after
        width: 7px
        height: 7px
        top: 8px
        left: 22%
    .hero__inner
        margin-top: 80px
    .hero__img-bg
        flex-direction: column-reverse
        .hero__text
            width: 100%
            padding-top: 30px
            padding-bottom: 30px
            text-align: center
    body .hero__img-bg .hero_img
        flex: none
        height: 50vw
        margin-left: 0
        margin-bottom: -3rem
        width: 100%
    .hero__btn
        max-width: 100% !important  
    .tab__flex
        flex-direction: column
    body .tabs-content .tabs__text
        width: 100%
        height: 100%
    body .tabs .tab__img
        margin-left: 0
        margin-bottom: -8rem
    .about__cards
        flex-direction: column
    body .about__card
        width: 100%
        min-height: 150px
        margin-bottom: 20px
    body .blog__inner
        margin-top: 110px
    body .slick-slider
        display: block
    body .categories__list
        grid-template-columns: repeat(1, minmax(0,1fr))
        .categories__item-linck
            justify-content: center
    .footer__list
        flex-direction: column

@media (max-width: 500px)
    .tabs
        flex-direction: column-reverse
        height: 700px !important
    .tabs-nav
        margin-left: 0 !important
    .tabs-nav__list
        height: 200px !important
        text-align: center
    .taxanomy__item
        height: 40vw !important

@media (max-width: 400px)
    .flex-box
        flex-direction: column-reverse
    .taxanomy__item-image
        margin: 0 !important
    .taxanomy__item-title
        margin-bottom: 10px
    
